.intro--textBox {
	font-family: AmericanTypewriter;
	font-size: 14px;
	color: #000000;
	letter-spacing: 0.63px;
	border: 5px solid $accent;
	border-radius: 20px;
	margin-top: -5px;
	padding: 10px;
}

.intro--logo {
	width: 250px;
	margin-left: 20px;
	height: auto;
	margin-right: 20px;
}

.intro--icon {
	@extend .right;
	height: 64px;
	width: 64px;
	margin-top: 16px;
	margin-right: 25px;
	margin-left: -15px;
	border-radius: 20px 20px 0 0;
}