.MainView {
	&__miscRow {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 16px 0;
		justify-content: center;
	}

	&__miscOne {
		width: 30%;
		min-width: 200px;
		max-width: 276px;
		flex: .7;
		align-self: center;
	}

	&__miscTwo {
	}
}
