.PickMyBrain{
	width: 330px;
	height: 294px;
	position: relative;

	&__content {
		transform: translateX(32px); // fix positioning of the content
	}

	&__brainAndSign {
		width: 250px;
		height: auto;
		cursor: pointer;
		z-index: 10;
		position: relative;
		outline: none;
	}

	&__thoughtBubble {
		position: relative;
		top: -45px;
		opacity: 0;
	}

	&__linkContainer {
		width: 200px;
		position: relative;
		left: 45px;
		top: -175px;
		text-align: center;
	}

	&__linkText {
		opacity: 0;
	}

	&__thoughtBubbleArrow {
		position: relative;
		top: -180px;
		left: 170px;
		opacity: 0;
	}

	&__thoughtBubblePathAnimated {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation-name: animateThoughtBubble;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(.43,-0.01,.01,.82);
		animation-fill-mode: forwards;
	}

	@keyframes animateThoughtBubble {
	  to {
	    stroke-dashoffset: 0;
	  }
	}

	&__modal {
		overflow: hidden;
	}

	&__modalContent {
		overflow: hidden;
	}

	&__iframe {
		border: none;
	}

	&__loadingSVG {
		stroke-dasharray: 374;
		stroke-dashoffset: 374;
		animation-name: animateThoughtBubble;
		animation-duration: 3s;
		animation-timing-function: cubic-bezier(.43,-0.01,.01,.82);
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	&__loadingSVGContainer {
		position: relative;
		top: 100px;
	}
}
