.pickMyBrain--container{
	margin: 0 auto 0;
	width: 100%;
	height: auto;
}

.pickMyBrain--brainAndSign {
	width: 250px;
	height: auto;
	cursor:pointer;
}

.pickMyBrain--thoughtBubble{
	width: 250px;
	height: 200px;
	background: url("/assets/pickMyBrain--thoughtBubble.svg") no-repeat;
	background-size: 250px 200px;
	background-position: center;
	position: relative;
	opacity: 0;
	top: -62px;
	left: 10px;
}

.pickMyBrain--linkContainer {
	width: 200px;
	position: relative;
	left: 25px;
	top: 110px;
	text-align: center;
}