.pickMyBrain--container{
	margin: 0 auto 0;
	width: 178px;
	height: 275px;
	position: relative;
}

.pickMyBrain--brainAndSign {
	width: 250px;
	height: auto;
	cursor: pointer;
	z-index: 10;
	position: relative;
}

.pickMyBrain--thoughtBubble {
	position: relative;
	top: -45px;
	opacity: 0;
}

.pickMyBrain--linkContainer {
	width: 200px;
	position: relative;
	left: 45px;
	top: -175px;
	text-align: center;
}

.pickMyBrain--thoughtBubbleArrow {
	position: relative;
	top: -180px;
	left: 170px;
	opacity: 0;
}