$accent: #07939E;

.palateCleanserLaunch--container {
  background-color: $accent;
  border-radius: 20px;
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;

}

.palateCleanserLaunch--text {
  color: white;
  margin-bottom: -10px;
  margin-top: 10px;
  padding: 0;
}

.palateCleanserLaunch--titleText {
  color: #EBABAA;
  margin-bottom: 0px;
}

.palateCleanserLaunch--image {
  width: 50px;
}
