@import "{poetic:materialize-scss}/sass/components/_color.scss";
@import "{poetic:materialize-scss}/sass/materialize.scss";

$accent: #07939E;
$accent-text: #07A1AD;
$white: #FFF;
$gray: #D1D3D4;

html, body {
	background: linear-gradient(90deg, $gray, $white, $white, $white, $gray);
}

.accentText {
	color: $accent-text;
}

.waves-effect.waves-accent {
	background-color: $accent;
}

a {
	color: $accent-text;
}

@import "mainView.scss";
@import "pickMyBrain.scss";
@import "intro.scss";
@import "resumeButton.scss";
@import "skillChart.scss";
@import "palateCleanserLaunch.scss";
