@import "{poetic:materialize-scss}/sass/components/_color.scss";
@import "{poetic:materialize-scss}/sass/materialize.scss";

$accent: #07939E;
$accent-text: #07A1AD;

.accentText {
	color: $accent-text;
}

.waves-effect.waves-accent {
	background-color: $accent;
}

@import "mainView";
@import "pickMyBrain";
@import "intro";
@import "resumeButton";
@import "skillChart";
